//Firts Color Scheme
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;

// Secons Color Scheme
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;

// Third Color Scheme
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;

// Fourth Color Scheme
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;

// Fifth Color Scheme
$raising-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;

//Typefaces
$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;